.copy_btn:hover{
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: white;
}
.call_btn:hover{
  cursor: pointer;
  background-color: rgba(98, 98, 98, 0.564);
  color: white;
}
#clearBtn:hover{
  cursor: pointer;
  background-color: rgb(167, 11, 11);
  color: white;
}